/*此字体：Noto Sans SC，大小：100, 300, 400, 500, 700, 900 这几种样式.
 font-weight: 后面必须加入对应100.300等数字，否则是不生效的.
 （通常 font-weight: bold 我用的是 700字体，这个看大家自己需求了，可以自己更改数字）*/
 @import url('./base.css');
 #app {
    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: 400;
}
.text-weight-700{
    font-weight: 700;
}
.cover-img{
    height: 630px;
    @apply object-cover
}
/* scroll bar */
::-webkit-scrollbar {
    
    /*滚动条整体样式*/
    width : 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
 ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background : #535353;
  }
  ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background : #ededed;
  }